.blog-container {
    padding: 0 30px
}

.blog {
    background-color: #fff;
    text-align: left;
    margin: 20px 0;
    padding: 10px 10px 10px 30px;
    width: 100%;
}

.blog .content {
    vertical-align: top; 
    padding: 10px 20px 10px 30px;
}

.blog .sidebar {
    width: 220px; 
    vertical-align: top; 
    padding: 10px;
}

.blog .social {
    text-align: center;
    padding: 10px;
}

.blog .social-icon {
    padding: 0 3px;
    height: 25px;
}

.blog .well {
    margin-bottom: 10px;
}

.page-header {
    color: #3C4246;
    margin: 0 0 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #667279;
}

.page-header h2 {
    margin: 0;
    font-size: 16pt;
}

.posts .seperator {
    margin: 0;
    border-top: 1px solid #667279;
}

.posts .footer {
    height: 20px;
    margin: 15px, 0;
}

.posts .footer .published {
    float: left;
    color: #667279;
}

.posts .footer .tags {
    float: right;
    color: #667279;
}

.posts .footer hr {
    margin: 0 0 5px 0;
}

.post .footer {
    height: 20px;
    margin: 15px, 0;
}

.post .footer .published {
    float: left;
    color: #667279;
}

.post .footer .tags {
    float: right;
    color: #667279;
}

.post .footer hr {
    margin: 0 0 5px 0;
}

.tags li a {
    padding: 2px 15px;
}

.tag .name {
    margin: 0 0 10px 0;
    font-size: 14pt;
}

.repos li a {
    padding: 2px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 198px;
}

.repos img {
    margin-top: -3px;
}

.markdown-body h3 {
    margin: 20px 0;
}

.markdown-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

img.inline {
    display: inline;
    padding: 0;
}