body {
    background-color: #2D4C6A;
    padding: 0;
}

td {
    font-size: 13px;
}

a {
    color: #3C4246;
}

.banner {
    display: none;
}

.header {
    height: 55px;
    background-color: #4C6E8F;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.header .logo {
    float: left;
    padding: 10px 0 0 5px;
}

.header .logo img {
    height: 35px;
}

.header .links {
    float: right;
    padding-top: 3px;
}

.header .links img {
    padding-left: 8px;
    padding-top: 7px;
    height: 40px;
}

.footer {
    text-align: center;
    margin: 30px 0;
}
