.cvTable
{
	width: 650px;
	background: #ffffff;
	border: 4px;
	border-style: solid;
	border-color: #ffffff;
}

.cvDemographics
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	font-weight:bold;
	padding-left: 20px;
	vertical-align: top;
	width: 400px;
}

.cvComments
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	text-align: justify;
	margin: 20px;
}

.cvHighlight
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	padding-left: 20px;
}

.cvTraining
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	padding-left: 20px;
}

.cvLanguage
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	padding-left: 20px;
}

.cvEmployerStats
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	padding-left: 20px;
	text-align: justify;
	font-style: italic;
	font-weight: bold;
}

.cvEmployerSummary
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.cvEmployerSummaryItem
{
	font-family: Trebuchet MS, Arial;
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 20px;
	text-align: justify;
}

.cvHeader
{
	margin: 0px;
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	padding: 4px;
	text-align: Left;
	background:  #00324D;
	color: #FDE5A9;
}













