body {
    background-color: #71969F;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11pt;
}

img {
	border-width: 0;
}

.cube-menu-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.cube-menu-padding {
    height: 50%;
}

.cube-menu {
	margin-top: -200px;
}

.icon-cv {
	padding-right:15px;
}

.icon-blog {
	padding-right:10px;
}

.icon-lab {
	padding-right:10px;
}

.cv-container {
	background: #fff;
	width: 700px;
	margin: 70 auto;
	padding: 30px 40px;
}

.cv-container .print-button { 
	float: right; 
	font-weight: bold;
	color: #ccc;
}

.cv-container a { color:#000; } 
.cv-container a:link, .cv-container a:visited { text-decoration: none; }
.cv-container a:active, .cv-container a:hover { text-decoration: underline; }

.cv-container h3 { margin: 10 0; } 

.tag-cloud { 
	padding: 0 10px 5px 10px; 
	text-align: center;
}

.tag-cloud span {
	font-weight: bold;
	vertical-align: middle;
	margin: 0 10px;
}

.tag-cloud a { color: #666666; }

.tag-cloud-item-1 { font-size: 13px; }
.tag-cloud-item-2 { font-size: 14px; }		
.tag-cloud-item-3 { font-size: 16px; }			
.tag-cloud-item-4 { font-size: 18px; }
.tag-cloud-item-5 { font-size: 20px; }

.footer {
    text-align: center;
	width: 700px;
	margin: 0 auto;
}