.cv-recruiter-warning {
    color:#D71A21;
    background-color:#FDE5A9;
    padding:10px;
    text-align:center;
    font-weight:bold;
    width: 440px;
	margin: 0 auto;
}

.cv-container h3 a {
	color: #1671A0;
}

.cv-container {
	background: #fff;
	width: 700px;
	margin: 20px auto 0px auto;
	padding: 30px 40px;
	text-align: left; /* Stupid IE hack grrrrr */
}

.cv-container .print-button { 
	float: right; 
	font-weight: bold;
	color: #ccc;
}

.cv-container a { color:#000; } 
.cv-container a:link, .cv-container a:visited { text-decoration: none; }
.cv-container a:active, .cv-container a:hover { text-decoration: underline; }

.cv-container h3 { 
    margin: 10 0; 
    text-align: left;
} 

.cv-experience-header {
	font-weight: bold;
	font-size: 10pt;
}

.cv-experience-employer {
	font-style: italic;
	font-size: 9pt;
}

.cv-experience-detail {
	font-size: 8pt;
}

.tag-cloud { 
	padding: 0 10px 5px 10px; 
	text-align: center;
}

.tag-cloud span {
	font-weight: bold;
	vertical-align: middle;
	margin: 0 10px;
}

.tag-cloud a { color: #666666; }

.tag-cloud-item-1 { font-size: 13px; }
.tag-cloud-item-2 { font-size: 14px; }		
.tag-cloud-item-3 { font-size: 16px; }			
.tag-cloud-item-4 { font-size: 18px; }
.tag-cloud-item-5 { font-size: 20px; }

@media print {
  a[href]:after {
    content: none !important;
  }
}