---
layout: chrome
---

<link href="/css/blog.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.tinysort.js"></script>

<script language="javascript">
    var email = ['m', 'o', 'b', '@', 'm', 'i', 'k', 'e', 'o', 'b', 'r', 'i', 'e', 'n', '.', 'n', 'e', 't'].join('');
    $(function () { 
        $('#email').attr('href', 'mailto:' + email); 
    });
</script>

<div class="blog-container">
    <table class="blog">
    <tr>
        <td class="content">
            {{ content }}
        </td>
        
        <td class="sidebar">
        

            <div style="padding: 2px 0 10px 0;">
                <iframe src="http://githubbadge.appspot.com/badge/mikeobrien" style="border: 0;height: 113px;width: 100%;overflow: hidden;border-radius: 5px;" frameBorder="0" scrolling="no"></iframe>
                <ul class="nav nav-list repos">
                    {% for repository in site.github.public_repositories %}
                        {% if repository.stargazers_count > 3 %}
                            <li data-sort="{{ repository.stargazers_count }}"><a target="_blank" href="{{ repository.html_url }}" title="{{ repository.name }}"><img src="/img/github-glyph.png"/> {{ repository.name }} ({{ repository.stargazers_count }} <span class="glyphicon glyphicon-star"></span>)</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div style="padding: 12px 0;border-top: 1px solid #667279">
                <ul class="nav nav-list tags">
                    {% for tag in site.tags %}
                    <li data-sort="{{tag | first}}"><a href="/blog/tags#tag-{{forloop.index}}" title="{{tag | first }}"><span class="glyphicon glyphicon-tag"></span> {{tag | first}} ({{tag | last | size }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </td>

    </tr>
    </table>
</div>

<script>
$('.repos>li').tsort({ attr:'data-sort', order: 'desc' });
$('.tags>li').tsort({ attr:'data-sort' });
</script>