---
layout: chrome
---

<link href="/styles/blog.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/scripts/jquery.tinysort.min.js"></script>

<div class="container-fluid blog">
  <div class="row-fluid">
    <div class="span10">
        {{ content }}
    </div>
    <div class="span2">
        <h2>Tags</h2>
        <ul id="tags">
        {% for tag in site.tags %}
        <li><a href="/blog/tags#{{tag | first | cgi_escape}}">{{tag | first}} ({{tag | last | size }})</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>

<script>
$('#tags>li').tsort();
</script>