---
layout: site
---

<div class="container-fluid">

    <div class="row-fluid">
      <div class="span4"><a href="/"><img src="/images/logo-mikeobrien.png" alt="mikeobrien.net"/></a></div>
      <div class="span1 offset6"><a href="/cv"><img src="/images/icon-cv-red.png" alt="Curriculum Vitae" /></a></div>
      <div class="span1"><a href="http://blog.mikeobrien.net"><img src="/images/icon-blog-blue.png" alt="Blog" /></a></div>
      <div class="span1"><a href="https://github.com/mikeobrien"><img src="/images/icon-lab-blue.png" alt="Lab" /></a></div>
    </div>

    {{ content }}

    <div class="row-fluid">
        <div class="span12"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">
            <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a>
        </div>
    </div>

</div>
