---
layout: site
---

<div class="header">
    <div class="logo">
        <a href="/" title="Home"><img src="/img/logo-mikeobrien.png" /></a>
    </div>
    <div class="links">
        <a href="http://www.mikeobrien.net/blog" title="Blog"><img class="blog-icon" src="/img/icon-blog.png" /></a>
        <a href="/cv" title="Curriculum Vitae"><img class="cv-icon" src="/img/icon-cv.png" /></a>
        <a href="/lab" title="Lab"><img class="lab-icon" src="/img/icon-lab.png" /></a>
        <a href="https://github.com/mikeobrien" title="GitHub"><img class="github-icon" src="/img/icon-github.png" /></a>
    </div>
</div>

<script>
if (window.location.pathname.indexOf('/cv') == 0) $('.cv-icon').attr('src', '/img/icon-cv-selected.png');
if (window.location.pathname.indexOf('/blog') == 0) $('.blog-icon').attr('src', '/img/icon-blog-selected.png');
if (window.location.pathname.indexOf('/lab') == 0) $('.lab-icon').attr('src', '/img/icon-lab-selected.png');
</script>

{{ content }}

<div class="footer">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
</div>