---
layout: site
---

<div class="header">
    <div class="logo">
        <a href="/" title="Home"><img src="/images/logo-mikeobrien.png" /></a>
    </div>
    <div class="links">
        <a href="http://www.mikeobrien.net/blog" title="Blog"><img class="blog-icon" src="/images/icon-blog-blue.png" /></a>
        <a href="/cv" title="Curriculum Vitae"><img class="cv-icon" src="/images/icon-cv-blue.png" /></a>
        <a href="https://github.com/mikeobrien" title="GitHub"><img src="/images/icon-lab-blue.png" /></a>
    </div>
</div>

<script>
if (window.location.pathname.indexOf('/cv') == 0) $('.cv-icon').attr('src', '/images/icon-cv-red.png');
if (window.location.pathname.indexOf('/blog') == 0) $('.blog-icon').attr('src', '/images/icon-blog-red.png');
</script>

{{ content }}

<div class="footer">
    <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a>
</div>