---
layout: chrome
---

<link href="/css/lab.css" rel="stylesheet" type="text/css" />

<div class="lab">
    <div class="lab-container">
        <div class="nav-container">
            <ul class="nav nav-stacked affix">
                <li>
                  <a href="index">Introduction</a>
                  <ul class="nav">
                    <li><a href="index#learning-resources">Learning Resources</a></li>
                    <li><a href="index#supplies">Supplies</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#dropdowns">Vacuum</a>
                  <ul class="nav">
                    <li><a href="vacuum#connectors">Connectors</a></li>
                    <li><a href="vacuum#gauges">Gauges</a></li>
                    <li><a href="vacuum#pumps">Pumps</a></li>
                    <li><a href="vacuum#valves">Valves</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#btn-groups">Power Supplies</a>
                  <ul class="nav">
                    <li><a href="power#safety">Safety</a></li>
                    <li><a href="power#high-voltage">High Voltage</a></li>
                    <li><a href="power#multipliers">Multipliers</a></li>
                  </ul>
                </li>
            </ul>
        </div>

        <div class="lab-content">
            {{ content }}
        </div>
    </div>
</div>