---
layout: chrome
---

<link href="/css/lab.css" rel="stylesheet" type="text/css" />

<div class="lab">
    <div class="lab-container">
        <div class="nav-container">
            <ul class="nav nav-stacked affix">
                <li>
                  <a href="index">Introduction</a>
                  <ul class="nav">
                    <li><a href="index#learning-resources">Learning Resources</a></li>
                    <li><a href="index#supplies">Materials &amp; Supplies</a></li>
                  </ul>
                </li>
                <li>
                  <a href="vacuum">Vacuum</a>
                  <ul class="nav">
                    <li><a href="vacuum#connectors">Connectors</a></li>
                    <li><a href="vacuum#gauges">Gauges</a></li>
                    <li><a href="vacuum#pumps">Pumps</a></li>
                    <li><a href="vacuum#valves">Valves</a></li>
                  </ul>
                </li>
                <li>
                  <a href="power">Power Supplies</a>
                  <ul class="nav">
                    <li><a href="power#safety">Safety</a></li>
                    <li><a href="power#high-voltage">High Voltage</a></li>
                    <li><a href="power#multipliers">Multipliers</a></li>
                  </ul>
                </li>
                <li>
                  <a href="optics">Optics</a>
                  <ul class="nav">
                    <li><a href="optics#spectrometer">Spectrometer</a></li>
                  </ul>
                </li>
                <li>
                  Apparatus
                  <ul class="nav">
                    <li><a href="glow-discharge-tube">Glow Discharge Tube</a></li>
                    <li><a href="crookes-tube">Crookes Tube</a></li>
                    <li><a href="cathode-ray-tube">Cathode Ray Tube</a></li>
                  </ul>
                </li>
            </ul>
        </div>

        <div class="lab-content">
            {{ content }}
        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'hcoverlambda'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>