<!DOCTYPE html>
<!-- "Put your hand on a hot stove for a minute, and it seems like an hour. Sit with a pretty girl for an hour, and it seems like a minute. That's relativity." -->
<!--
 1                                                                                                        1    
  1                                                                                                      1     
   1                                                                                                    1      
   11                                                                                                  11      
    11                                                                                                11       
     11                                                                                              11        
      11                                                                                             1         
       11                                                                                           1          
        1                                                                                          1           
         1                                                                                        11           
          1                                                                                      11            
           1                                                                                    11             
            1                                                                                   1              
             1                                                                                 1               
             11                                                                               1                
              11                                                                             11                
               11                                                                           11                 
                11                                                                         11                  
                 1                                                                         1                   
                  1                                                                       1                    
                   1                                                                     1                     
                    1                                                                   1                      
                     1      111               11111               11111                11                      
                      1   11   1             11    1             1     1              11                       
                      11 11     1            1     11           11      1            11                        
                       111      11          11      1           1       1           11                         
                       11        1          1       11         1         1          1                          
                      11         11        1         1         1         1         11                          
                     11           1        1         11       11          1       1 11                         
                    11             1      1           1       1           1      1   11                        
                   11              11    11           11     1            11    1     11                       
                   1                11   1             11   11             1   1       11                      
                  1                  1111               11111               111         11                     
                 1                                                                       1                     
                1                                                                         1                    
               11                                                                          1                   
              11                                                                            1                  
             11                                                                             11                 
            11                                                                               11                
            1                                                                                 11               
           1                                                                                   11              
          1                                                                                     11             
         1                                                                                       11            
        1                                                                                         1            
       11                                                                                          1           
      11                                                                                            1          
     11                                                                                              1         
    11                                                                                                1        
    1                                                                                                 11       
   1                                                                                                   11      
  1                                                                                                     11     
 1                                                                                                       11    
1                                                                                                         11   
                                                                                                           1   
-->
<html>
	<head>
		<title>MOB{% if page.title %} | {{page.title}}{% endif %}</title>
        <link rel="shortcut icon" href="/img/favicon.png" />
        <meta name="description" content="{% if page.title %}{{page.title}}{% else %}Terrible Tinkerer.{% endif %}" />
        {% if page.tags %}<meta name="keywords" content="{{page.tags | join: ','}}" />{% endif %}
        {% if page.date %}<meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />{% endif %}
        
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/site.css" rel="stylesheet" type="text/css" />
        <link href="/css/markdown.css" rel="stylesheet" type="text/css" />
        <link href="/css/pygments.css" rel="stylesheet" type="text/css" />  

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>    
	</head>

	<body>
        <div class="banner"></div>
        {{ content }}
	</body>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32636564-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>  
    <script src="/js/bootstrap.js"></script>
    <script src="/js/analytics.js"></script>
</html>
