<!-- "Put your hand on a hot stove for a minute, and it seems like an hour. Sit with a pretty girl for an hour, and it seems like a minute. That's relativity." -->
<html>
	<head>
		<title>Mike O'Brien</title>
        
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/styles/site.css" rel="stylesheet" type="text/css" />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/scripts/bootstrap.js"></script>
       
	</head>

	<body>
        {{ content }}
	</body>
</html>
