.blog {
    background-color: #fff;
    text-align: left;
    margin: 30px 50px;
    padding: 10px 30px
}

.page-header {
    color: #3C4246;
    margin: 12px 0;
    border-bottom: 1px solid #667279;
}

.posts .seperator {
    margin: 10px 0;
    border-top: 1px solid #667279;
}

.posts .footer {
    height: 20px;
    margin: 15px, 0;
}

.posts .footer .published {
    float: left;
    color: #667279;
}

.posts .footer .tags {
    float: right;
    color: #667279;
}

.posts .footer hr {
    margin: 0 0 5px 0;
}

.post .footer {
    height: 20px;
    margin: 15px, 0;
}

.post .footer .published {
    float: left;
    color: #667279;
}

.post .footer .tags {
    float: right;
    color: #667279;
}

.post .footer hr {
    margin: 0 0 5px 0;
}