body {
    background-color: #71969F;
	font-family: proxima-nova-soft, Helvetica, Arial, sans-serif;
}

a {
    color: #00324D;
}

.header {
    margin: 10px 10px 30px 10px;
}

.footer {
    text-align: center;
    margin: 20px 0;
}
